@import "../../vars.css";
@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    z-index: 2;
    margin: 0 10%;
}

.title {
    display: none; /* No longer needed */
}

/* Logo styling */
.logo {
    width: 150px;  /* Default size */
    height: auto;  /* Maintain aspect ratio */
}

/* Further adjustments for extra small screens */
@media screen and (max-width: 480px) {
    .logo {
        width: 100px;  /* Even smaller on very small devices */
    }
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 47px;
    list-style: none;
}

.menuItems a {
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
    font-family: 'Margarine', sans-serif; /* Apply Margarine font */
}

/* For iPhone and iPad-sized screens */
@media screen and (max-width: 830px) {
    .logo {
        width: 120px;  /* Smaller on mobile */
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        position: absolute;
        right: 0;
        margin-right: 10%;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        z-index: 3;
    }

    .menuBtn {
        display: block;
        cursor: pointer;
        width: 20px; /* Set a small width */
        height: 20px; /* Set a small height */
    }
    
    .menuItems {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 13px;
        border-radius: 10px;
        background: rgb(25, 55, 109);
        background: linear-gradient(
            0deg, 
            rgba(25, 55, 109, 0.2) 0%, 
            rgba(180, 222, 234, 1) 100%
            );
            padding: 24px 33px;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuOpen {
        display: flex;
        z-index: 1;
    }
}

/* For Laptop-sized screens (hide menu icon) */
@media screen and (min-width: 830px) {
    .menuBtn {
        display: none; /* Hide menu icon */
    }
}