:root {
    /*Colours*/
    --color-text: black;
    --color-primary: #ed975a;
    --color-secondary: #f097db;
    --color-dark: #576cbc;
    --color-bg: #f6f5ef;

    /*Fonts*/
    --font-robot: "Roboto";
}